body{
  --culoareFundal:#F09C22;
  --culoareFundal2:#B08545;
  --culoareComplementF:#2297F0;
  --culoareAccente1:#49789B;
  --culoareAccente2:#706048;
  --dimSpatiere:120px;
  /*padding: 100px;*/
  padding-left: var(--dimSpatiere);
  padding-right: var(--dimSpatiere);
}



#link-top{
    position:fixed;
    bottom:0.3em;
    opacity:0.5;
    left:0.3em;
    width:4rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border:5px solid ;
      border-right-color:var(--culoareComplementF);
      border-left-color: var(--culoareComplementF);
      border-top-color: transparent;
      border-bottom-color: transparent;
      
    border-radius:50%;
    background: rgba(220, 220, 220, 0);
    transition: all 1s linear/*transform 1s linear, opacity 3s linear*/;
    /*box-shadow: 0px 0px 5px 5px yellow inset;*/
    border-top-width: thin;
    border-bottom-width: thin;
  }
#link-top:hover{
    opacity:1;
    /*transform:rotateZ(90deg);*/
    
  }
#triunghi{
    height:0px;
    width:0;
    display:inline-block;
    border-bottom:1.5rem solid var(--culoareComplementF);
    border-left:1rem solid transparent;
    border-right:1rem solid transparent;
    /*vertical-align: top;*/
    transform: translateY(25%);
    transition: all 1s linear;
    
}
#triunghi:hover{
    transform: translateY(-30%);
    border-bottom: 1.5rem solid var(--culoareFundal);

}
section {
  overflow: auto;
}

table {
  text-align: center;
  
}
#tab-orar {
  width: 100%;
  border: 5px solid;
  border-style: inset;
  border-collapse: collapse;
}
#tab-orar td, #tab-orar th{
    border: 1px solid;
    /*width: 100%;*/
}
#tab-orar td,#tab-orar th{
  transition: all 0.5s linear;
}
#tab-orar tr:nth-child(odd)>th{
  border-color: gray;
  border-top-color: var(--culoareFundal2);
  border-bottom-color: var(--culoareAccente1);
}

#tab-orar tr:nth-child(2n+1)>td{
  border-color: gray;
    border-top-color: var(--culoareAccente1);
    border-bottom-color: var(--culoareFundal2);
}

#tab-orar tr:nth-child(even)>td{
  border-color: #706048;
  border-top-color: var(--culoareFundal2);
  border-bottom-color: var(--culoareAccente1);
  
}
#tab-orar td:hover,#tab-orar th:hover{
  border-width: 5px;
  border-color: transparent;
}
/*@media screen and (max-width:800px) {
  section {
    overflow: scroll;
  }
}*/