<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin mobila.Site pe care se vinde mobila la domiciliu cu asamblare">
        <meta name="keywords" content=" Politică de confidențialitate,mobila, magazin, Romania, Bucurest, asamblare, asamblare la livrare, livrare, reduceri,buna,ieftin, oferte,online">
        <title>Cofetăria Dulcelind - Politică de confidențialitate</title>
        <%-include("../fragmente/head.ejs");  %> 
    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <h1>Politică de confidențialitate</h1>
        <div>
            <h2>
                INTRODUCERE
            </h2>
                Vă mulțumim pentru interesul față de compania noastră și serviciile pe care le oferim. Protecția datelor cu caracter personal este un subiect foarte important pentru noi. Când intrați într-o relație de orice fel cu noi, ne încredințați informațiile dumneavoastră, unele informații fiind date cu caracter personal protejate prin legislația europeană și națională.

                Prezentul document (denumit în continuare „Politica de confidențialitate”, „Nota de informare” sau „Documentul”) conține informațiile necesare privind utilizarea datelor cu caracter personal. Vă rugăm să citiți cu atenție acest document. Recomandam ca acest document să se citească împreună cu Termenii și Condițiile de utilizare. În cazul unui conflict între termenii prezentului Document și oricare alte clauze contractuale dintre noi și dumneavoastră, vor prevala termenii prezentului Document. Pentru mai multe informații despre utilizarea modulelor cookies sau a altor tehnologii similar, vă rugăm să consultați Politica noastră privind utilizarea modulelor cookie.
                
                Scopul acestei Politici de confidențialitate este să vă explice, printre altele, categoriile de date cu caracter personal pe care le prelucrăm (e.g. colectare, stocare, utilizare, transmitere), motivele prelucrării, modalitatea de prelucrare, drepturile dumneavoastră conform Regulamentului General privind Protecția Datelor (în continuare „RGPD” sau „GDPR”) și modalitatea în care vă puteți exercita aceste drepturi. În activitatea de prelucrare a datelor cu caracter personal, noi acționăm în calitate de operator și avem obligația legală de a vă furniza aceste informații.
                
                Prin vizitarea site-ului, achiziționarea serviciilor pe care le oferim sau prin interacțiunea cu noi prin orice mijloc și/sau prin intermediul oricărui canal de comunicare (e.g., e-mail, telefon, rețele de socializare), sunteți de acord cu prezenta Politică de confidențialitate.
                
                www.ergala-home.ro este operator de date cu caracter personal conform RGPD. Această Politică de confidențialitate acoperă doar prelucrările de date pentru care www.ergala-home.ro este operator.
        </div>
        <div>
            <h2>
                DEFINIȚII
            </h2>
                1. „GDPR”, „RGPD” sau „Regulamentul” înseamnă Regulamentul (UE) nr. 2016/679 al Parlamentului European și al Consiliului din 27 aprilie 2016 privind protecția persoanelor fizice în ceea ce privește prelucrarea datelor cu caracter personal și privind libera circulație a acestor date și de abrogare a Directivei 95/46/CE (Regulamentul general privind protecția datelor).<br>

                2. „Operatorul” sau „Noi” înseamnă www.ergala-home.ro, societate de naționalitate română cu sediul social în Sos. Pantelimon, Nr.350, București, Sector 2, înmatriculată în Registrul Comerțului București sub nr. J40/20911/2022, având codul fiscal 47044429.<br>
                
                3. „Persoană vizată” reprezintă orice persoană fizică identificată sau identificabilă ale cărei date cu caracter personal sunt prelucrate de către noi în calitate de operator, ca de exemplu clienții, potențialii clienți, vizitatori ai site-ului.<br>
                
                4. „Prelucrare” înseamnă orice operațiune sau set de operațiuni efectuate asupra datelor cu caracter personal sau asupra seturilor de date cu caracter personal, cu sau fără utilizarea de mijloace automatizate, cum ar fi colectarea, înregistrarea, organizarea, structurarea, stocarea, adaptarea sau modificarea, extragerea, consultarea, utilizarea, divulgarea prin transmitere, diseminarea sau punerea la dispoziție în orice alt mod, alinierea sau combinarea, restricționarea, ștergerea sau distrugerea.<br>
                
                5. „Consimțământ” înseamnă orice manifestare de voință liberă, specifică, informată și lipsită de ambiguitate a persoanei vizate prin care aceasta acceptă, printr-o declarație sau printr-o acțiune fără echivoc, ca datele cu caracter personal care o privesc să fie prelucrate.<br>
                
                6. „Date cu caracter personal” înseamnă orice informații privind o persoană fizică identificată sau identificabilă („persoana vizată”); o persoană fizică identificabilă este o persoană care poate fi identificată, direct sau indirect, în special prin referire la un element de identificare, cum ar fi un nume, un număr de identificare, date de localizare, un identificator online, sau la unul sau mai multe elemente specifice, proprii identității sale fizice, fiziologice, genetice, psihice, economice, culturale sau sociale.<br>
                
                Ceilalți termeni utilizați în prezentul document au înțelesul conferit de GDPR și de celelalte prevederi legale aplicabile.<br>
        </div>
        <div>
            <h2>
                ALTE SERVICII
            </h2>
                Această Politică de confidențialitate nu acoperă aplicațiile și site-urile altor terți la care puteți ajunge prin accesarea link-urilor de pe site-ul nostru. Acest lucru excedează controlului nostru. Vă încurajăm să examinați Politica de confidențialitate de pe orice site și/sau aplicație înainte de a furniza date cu caracter personal.
        </div>
        <div>
            <h2>
                CINE SUNTEM NOI?
            </h2>
                www.ergala-home.ro, societate de naționalitate română cu sediul social în Sos. Pantelimon, Nr.350, București, Sector 2, înmatriculată în Registrul Comerțului București sub nr. J40/20911/2022, având codul fiscal 47044429, e-mail office@ergala-home.ro este responsabilă de prelucrarea datelor dumneavoastră cu caracter personal pe care le colectăm direct de la dumneavoastră sau din alte surse.
        </div>
        <div>
            <h2>
                CINE SUNTEȚI DUMNEAVOSTRĂ?
            </h2>
                Potrivit legislației, dumneavoastră, persoana fizică beneficiară a produselor noastre, reprezentantul ori persoana de contact a unei companii care ne este client sau potențial client, vizitatorul site-ului și/sau persoana aflată într-o relație de orice fel cu noi, sunteți o „persoană vizată”, adică o persoană fizică identificată sau identificabilă. Pentru a fi complet transparenți în privința prelucrării de date cu caracter personal și pentru a vă permite să vă exercitați cu ușurință, în orice moment, drepturile, am implementat măsuri pentru a facilita exercitarea drepturilor. Pentru mai multe informații privind exercitarea drepturilor, accesați Secțiunea privind „Drepturile dumneavoastră” din prezentul document.
        </div>
        <div>
            <h2>
                ANGAJAMENTUL NOSTRU
            </h2>
                Protecția informațiilor dumneavoastră personale este foarte importantă pentru noi. De aceea, ne-am luat angajamentul să respectăm legislația europeană și națională privind protecția datelor cu caracter personal, în special Regulamentul (UE) nr. 679/2016, cunoscut și sub denumirea de GDPR și următoarele principii:<br>

                ✓ Legalitate, echitate și transparență
                Prelucrăm datele dvs. legal și corect. Suntem întotdeauna transparenți în privința informațiilor pe care utilizăm, iar dvs. sunteți informat corespunzător.<br>

                ✓ Controlul vă aparține
                În limitele legii, vă oferim posibilitatea de examina, modifica, șterge datele personale pe care le-ați împărtășit cu noi și de a vă exercita celelalte drepturi. Pentru mai multe informații privind exercitarea drepturilor, accesați Secțiunea privind „Drepturile dumneavoastră” din prezentul document.<br>

                ✓ Integritatea datelor și limitarea scopului
                Utilizăm datele numai în scopurile descrise la momentul colectării sau în noi scopuri compatibile cu cele inițiale. În toate cazurile, scopurile noastre sunt compatibile cu legislația. Luăm măsuri rezonabile pentru a ne asigura că datele personale sunt corecte, complete și actualizate.<br>

                ✓ Securitate
                Am implementat măsuri rezonabile de securitatea prelucrării datelor cu caracter personal, astfel încât să vă protejăm cât mai bine informațiile personale. Cu toate acestea, rețineți faptul că niciun site web, nicio aplicație și nicio conexiune la internet nu este complet sigură.
        </div>
        <div>
            <h2>
                SCHIMBĂRI
            </h2>
                Putem schimba această Politică de confidențialitate în orice moment. Toate actualizările și modificările prezentei Politici sunt valabile imediat după notificare, pe care o vom realiza prin afișare pe site și/sau notificare pe e-mail.
        </div>
        <div>
            <h2>
                INFORMAȚIILE DVS. SCOPURI. TEMEIURI LEGALE
            </h2>
                Atunci când navigați pe site-ul nostru, când ne transmiteți o solicitare pe e-mail sau ne contactați în orice alt scop și pe orice alt canal de comunicare, ne puteți comunica următoarele date personale, pe care le colectăm direct de la dvs. sau din alte surse, așa cum explicăm în tabelul de mai jos.

                Datele cu caracter personal prelucrate*
        </div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>