<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin mobila.Site pe care se vinde mobila la domiciliu cu asamblare">
        <meta name="keywords" content=" Termeni si Conditii,mobila, magazin, Romania, Bucurest, asamblare, asamblare la livrare, livrare, reduceri,buna,ieftin, oferte,online">
        <title>Cofetăria Dulcelind - Termeni si Conditii</title>
        <%-include("../fragmente/head.ejs");  %> 
    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <h1>Termeni si Conditii</h1>
       <div>
        <h2>
            1.Definiții
        </h2>
            Termenii și condițiile generale prevăzute în continuare se vor aplica tuturor vânzărilor de bunuri de către Magazin mobila și partenerii săi, prin 
            intermediul magazinului virtual localhost:8080 către Cumpărător și pot fi modificate oricând de către Magazin mobila fără notificare prealabilă.

            Astfel, următorii termeni vor însemna:<br>
            Cumpărător – persoană fizică / persoană juridică sau altă entitate juridică ce emite o Comandă.<br>
            Vânzător – Magazin mobila, cu denumirea comercială Bucuresti, având sediul social în [adresa], CUI [CUI], nr. de înregistrare la Registrul Comerțului [Nr. Registrul Comerțului].<br>
            Bunuri – orice produs, inclusiv documentele și serviciile menționate în Comandă, care urmează a fi furnizate de către Vânzător Cumpărătorului.<br>
            Comandă – un document electronic ce intervine ca formă de comunicare între Vânzător și Cumpărător, prin care Vânzătorul este de acord să livreze Bunurile și Cumpărătorul este de
            acord să primească aceste Bunuri și să facă plată acestora.<br>

            Contract – o Comandă confirmată de către Vânzător.
            Drepturi de Proprietate Intelectuală – toate drepturile imateriale cum ar fi know-how, dreptul de autor și drepturi în natură de autor, drepturile de bază de date, drepturi de proiectare,
            drepturi de model, patente, mărci înregistrate și înregistrări ale numelor de domenii pentru oricare din cele de mai sus.<br>

            Site – domeniul localhost:8080 și subdomeniile acestuia.
       </div>
       <div>
        <h2>
            2.Documente Contractuale
        </h2>
            Prin lansarea unei Comenzi electronice pe site-ul localhost:8080, Cumpărătorul este de acord cu forma de comunicare (e-mail, telefon) prin care Vânzatorul își derulează operațiunile. Comanda va fi compusă din următoarele documente:
            Comanda (împreună cu mențiunile clare asupra datelor de livrare și facturare) și condițiile sale specifice.
            Termeni și condiții
            Daca Vânzătorul confirmă Comanda, acest lucru implică o acceptare completă a termenilor Comenzii. Acceptarea Comenzii de către Vânzător se consideră finalizată atunci când există o confirmare electronică (e-mail) din partea Vânzătorului către Cumpărător, fără a necesita o confirmare de primire din partea acestuia. Vânzătorul nu consideră în nici un moment o comandă neconfirmată ca având valoarea unui Contract.
            Confirmarea Comenzii se face electronic (e-mail). Prețurile produselor din comandă sunt valabile 3 zile lucrătoare de la data înregistrării comenzii. Termenii și condițiile generale de vânzare vor sta la baza Contractului astfel încheiat.
       </div>
       <div>
        <h2>
            3.Obligațiile Vânzătorului
        </h2>
            Vânzătorul își va utiliza cunoștințele sale profesionale și tehnice pentru a atinge rezultatul stipulat în Comandă și va livra Bunurile care îndeplinesc cerințele și specificațiile Cumpărătorului exprimate în Comandă;
            Informațiile prezentate pe site-urile Vânzătorului au caracter informativ și pot fi modificate de către Vânzător, fără o anunțare prealabilă. Descrierile produselor pot fi incomplete, însă vânzătorul face eforturi de a prezenta informațiile cele mai relevante, pentru ca produsul să fie utilizat în parametrii pentru care a fost achiziționat;
       </div>
       <div>
        <h2>
            4.Dreptul de proprietate intelectuală și industrială
        </h2>
            Utilizatorul/Cumpărătorul înțelege dreptul de proprietate intelectuală și nu va dezvălui unei terțe părți sau va face publice nici una dintre informările primite de la Vânzător.
            Toate desenele, elementele de grafică și design care apar pe site, numele site-ului precum și însemnele grafice sunt mărci înregistrate în proprietatea Magazin mobila și nu pot fi preluate, copiate sau folosite, fără acordul scris al proprietarului.
            Toate elementele de conținut cum sunt descrierile, desenele, elementele de grafică și design care apar pe site, incluzând dar nelimitându-se la logo-uri, reprezentări stilizate, simboluri comerciale, imagini statice, imagini dinamice, text și/sau conținut multimedia prezentate pe site, sunt proprietatea exclusivă a Magazin mobila, acestuia fiindu-i rezervate toate drepturile obținute în acest sens în mod direct sau indirect prin licențe de utilizare și/sau publicare.
            Utilizatorului/Cumpărătorului nu îi este permisă copierea, distribuirea, publicarea, transferul către terțe părți, modificarea și/sau altfel alterarea, utilizarea, legarea la, expunerea, includerea oricărui element conținut de mai sus în orice alt context decât cel original intenționat de Magazin mobila, includerea oricărui element de conținut în afara Site-ului, îndepărtarea însemnelor care semnifică dreptul de autor al Magazin mobila asupra elementelor de conținut precum și participarea la transferul, vânzarea, distribuția unor materiale realizate prin reproducerea, modificarea sau afișarea elementelor de conținut, decât cu acordul scris expres al Magazin mobila.
       </div>
       <div>
        <h2>
            5.Drepturile asupra conținutului site-ului
        </h2>
            Întreg continutul site-ului si elementele de grafica, inclusiv dar fara a se limita la acestea, respectiv tot continutul in format text, precum si sursele tehnice ale tuturor serviciilor si facilitatilor prezente si viitoare – cu exceptia cazului cand este mentionat expres un alt proprietar – sursele paginilor dar si orice alt material, transmis sub orice forma de si catre Utilizatori (prin vizualizare directa pe site, prin newslettere etc.) apartin Magazin mobila.

            Continutul site-ului, indiferent de zona in care se afla in site si indiferent de tip, poate fi utilizat exclusiv in scopuri personale. Orice utilizare de continut de catre terte persoane in alte scopuri decat cel personal, se poate face numai cu acordul scris, expres si prealabil al Magazin mobila. Prin urmare, este interzisa copierea, preluarea, reproducerea, publicarea, transmiterea, vanzarea, distributia partiala, integrala sau modificata a continutului acestui site sau a oricarei parti a acestuia efectuate in alte scopuri decat cel personal, cu urmatoarele exceptii:<br>
            
            (i) este permisa reproducerea (pe site-uri noncomerciale, forumuri, articole din presa etc.) a unor mici fragmente din articolele publicate (max. 400 de caractere), fiind obligatorie specificarea sursei informatiilor preluate, cu link, sub urmatoarea forma .<br>
            
            (ii) sunt permise link-urile catre site-ul localhost:8080, iar specificarea sursei informatiilor se va face dupa fiecare link sau in finalul articolului, dupa cum urmeaza: „Informatii furnizate prin amabilitatea Magazin mobila 
            
            Utilizatorii se obliga sa respecte toate drepturile de autor si toate drepturile conexe acestuia si orice alte drepturi de proprietate intelectuala pe care Administratorul site-ului si partenerii sai le detin asupra/in legatura cu site-ul  localhost:8080.<br>
            
            Magazin mobila isi rezerva dreptul de a actiona in instanta orice persoana si/sau entitate care incalca in orice mod prevederile de mai sus. Cererile de utilizare a continutului site-ului in orice scop altul decat cel personal pot fi facute prin e-mail la adresa mail @ Magazin mobila.ro, cu specificatia „In atentia agenției”.
            
            Orice persoana care transmite sau publica in orice mod informatii ori materiale catre site isi asuma obligatia de a nu prejudicia in nici un mod drepturile de autor pe care o terta persoana le-ar putea invoca in legatura cu materialele si informatiile transmise in orice mod catre site, iar persoanele care expediaza in orice mod informatii ori materiale inteleg si accepta ca incalcarea in orice mod a acestei obligatii nu poate angaja in niciun mod raspunderea Magazin mobila, ci numai raspunderea persoanelor respective.
            
            Magazin mobila poate derula in orice moment campanii publicitare si/sau promotii in orice sectiune din site, fara ca aceasta operatiune sa necesite acordul Utilizatorilor site-ului. Spatiile si dimensiunea campaniilor publicitare si promotiilor nu necesita acordul Utilizatorilor site-ului si pot fi schimbate oricand fara a necesita anuntarea prealabila.
            
            Magazin mobila nu isi asuma responsabilitatea pentru prejudiciile sau pierderile rezultate din campaniile publicitare sau promotiile organizate in site, altele decat cele organizate strict pe site.
       </div>
       <div>
        <h2>
            6.Limitarea răspunderii administratorului site-ului
        </h2>
        Magazin mobila nu isi asuma obligatia si nu garanteaza implicit sau expres, pentru continutul site-ului, respectiv pentru continutul oferit de partenerii sai sau de Utilizatorii site-ului. Cu toate acestea, Magazin mobila va depune toate eforturile rezonabile pentru a asigura acuratetea si maniera profesionista in care vor fi furnizate informatiile pe site, pentru a dobandi si mentine increderea Utilizatorilor in site. In acest sens, Magazin mobila va incerca sa corecteze in cel mai scurt timp posibil erorile si omisiunile semnalate.

        Administratorul site-ului nu ofera niciun fel de garantii pentru continutul site-ului si in nicio situatie nu poate fi tinut raspunzator pentru nicio pierdere sau prejudiciu ce ar putea rezulta din utilizarea oricarei parti/secvente/pagini de pe site sau din imposibilitatea utilizarii acesteia, indiferent de cauza acesteia ori din interpretarea eronata a oricaror prevederi ale continutului site-ului.
        
        Informatiile furnizate prin intermediul site-ului sunt oferite cu buna-credinta, din surse apreciate ca fiind de incredere. In cazul in care vreunul din articolele publicate sau orice alta informatie intra sub incidenta legii dreptului de autor, rugam Utilizatorii sa ne contacteze la adresa de e-mail [o adresa], pentru a putea lua masurile ce se impun. Totodată, Utilizatorii trebuie sa aibă în vedere faptul ca informatia prezentata poate include eventuale informatii inexacte (de ex.: date de ordin tehnic sau erori de tastat). Administratorul site-ului va face toate diligentele necesare pentru a corecta in cel mai scurt timp posibil aceste aspecte.
        
        Utilizatorii inteleg si accepta faptul ca Magazin mobila nu garanteaza:
        
        ca informatiile continute pe site sunt pe deplin complete;
        
        ca informatiile introduse de Utilizatorii website-ului sunt reale, corecte si nu isi asuma raspunderea pentru modul in care vizitatorii le folosesc;
        
        ca informatiile sau serviciile de pe site  vor satisface toate cerintele Utilizatorilor, iar pentru folosirea inadecvata a acestora Utilizatorii isi asuma intreaga responsabilitate;
        
        pentru rezultatele obtinute de Utilizatori ca urmare a folosirii informatiilor sau serviciilor disponibile prin intermediul site-ului utilizarea informatiilor si a serviciilor facandu-se de catre Utilizatori pe propria raspundere;
        
        ca serviciile disponibile prin intermediul site-ului vor functiona constant, neintrerupt, fara erori – fata de acest aspect, Magazin mobila nu isi asuma responsabilitatea pentru eventualele pagube pe care Utilizatorii le-ar putea avea din cauza nefunctionarii temporare sau defectuoase a site-ului sau pentru folosirea informatiilor obtinute prin utilizarea link-urilor de pe site catre alte site-uri (utilizarea lor este la latitudinea Utilizatorilor).
        
        De asemenea, Utilizatorii inteleg si accepta faptul ca Magazin mobila nu este responsabila pentru eventuale inadvertente, erori sau omisiuni in cadrul informatiilor furnizate pe site de catre Utilizatori. Totodata, Utilizatorii inteleg si accepta ca Magazin mobila este absolvita de orice raspundere pentru mesajele publicitare postate pe site sau prin intermediul serviciilor oferite prin site, precum si pentru bunurile sau serviciile furnizate de catre autorii acestor mesaje publicitare. In mod expres, Utilizatorii site-ului sunt de acord sa exonereze de raspundere Magazin mobila pentru orice actiune judiciara sau extrajudiciara, care provine ca urmare a utilizarii incorecte sau frauduloase a site-ului.
        
        Pentru cazuri de forta majora, Magazin mobila si/sau operatorii, directorii, angajatii, sucursalele, filialele si reprezentantii sai, este exonerata total de orice raspundere. Cazurile de forta majora includ, dar nu se limiteaza la, erori de functionare ale echipamentului tehnic al Magazin mobila, lipsa functionarii conexiunii la internet, lipsa functionarii conexiunilor de telefon, virusii informatici, accesul neautorizat in sistemele Site-ului, erorile de operare, etc.
        
        Utilizatorii sunt de acord sa protejeze si sa asigure Magazin mobila si/sau pe operatorii, directorii, angajatii, sucursalele, filialele si reprezentantii sai de si impotriva oricaror cereri, pretentii, actiuni, impuneri, pierderi, daune, costuri (incluzand, fara nici un fel de limitare, onorariile avocatilor), cheltuieli, judecati, decizii, amenzi, regularizari sau alte obligatii rezultate sau relationate cu orice alta actiune a Utilizatorilor in legatura cu utilizarea site-ului sau a serviciilor oferite prin intermediul acestuia.
        
        Magazin mobila nu ofera nicio garantie, nici in mod expres si nici implicit, in ceea ce priveste inclusiv, dar fara limitare la functionarea site-ului localhost:8080, informatia, continutul, materialele sau produsele de pe site, precum si potrivirea lor pentru un anumit scop. Utilizatorii sunt de acord in mod expres ca folosirea acestui site si aplicarea informatiilor se face pe propriul lor risc.
                
       </div>
       <div>
        <h2>
            7.Abonarea Utilizatorilor la newslwettere si alerte
        </h2>
            Utilizatorii site-ului au posibilitatea de a primi newslettere si alerte prin posta electronica, existand posibilitatea ca Utilizatorii sa poata opta oricand pentru varianta de a nu mai primi astfel de notificari, cu un singur click pe link-ul de dezabonare din newsletter/alerta primita pe mailul introdus explicit la abonare.

            Fata de faptul ca accesul la produsele oferite prin intermediul site-ului se realizeaza prin intermediul unui cont activ, asadar pe baza unui nume de utilizator si a unei parole, recomandam Utilizatorilor ca aceste elemente sa nu fie dezvaluite unor terte persoane, chiar daca acestea afirma ca va contacteaza din partea site-ului.
            
            De asemenea, in vederea asigurarii unui nivel sporit de securitate, la sfarsitul vizitei pe site recomandam inchiderea ferestrei browser-ului in care s-a lucrat sau click pe „Sign out”/”Log off” in pagina vizitata.
       </div>
       <div>
        <h2>
            8.Politica de cookie-uri
        </h2>
        Un cookie este un fişier text care conţine mici fragmente de informaţii trimise navigatorului tău şi memorate în computerul, telefonul tău mobil sau alt dispozitiv, atunci când vizitezi un site. Acest fişier cookie trimite informaţii înapoi către site ori de câte ori îl revizitezi.

        Cookie-urile pot fi permanente (cunoscute drept cookie-uri persistente), care rămân în computerul tău până când le ştergi, sau temporare (cunoscute drept cookie-uri pentru sesiune) care sunt valabile doar până când închizi fereastra navigatorului tău. Cookie-urile pot fi ale părţii-gazdă (first-party), care sunt configurate de site-ul pe care îl vizitezi, sau ale unor părţi terţe, care sunt configurate de un site diferit de cel pe care îl vizitezi.
        
        Cum utilizeaza Magazin mobila cookie-urile?
        
        Utilizăm cookie-urile pentru a îmbunătăţi funcţionalitatea site-urilor noastre, pentru a te ajuta să navighezi mai eficient de la o pagină la alta, pentru a memora preferinţele tale şi, în general, pentru a îmbunătăţi experienţa utilizatorilor. Cookie-urile pe care le folosim pe site-urile noastre pot fi din următoarele categorii:
        
        Cookie-uri strict necesare:
        Aceste cookie-uri sunt esenţiale pentru ca tu să poţi naviga pe site şi să foloseşti serviciile pe care le-ai solicitat, cum ar fi accesarea zonelor sigure ale site-ului.
        
        Folosim acest tip de cookie-uri pentru a administra înregistrarea şi autentificarea utilizatorului. Fără aceste cookie-uri, serviciile pe care le-ai solicitat nu pot fi furnizate. Aceste cookie-uri sunt ale părţii-gazdă (first-party) şi pot fi permanente sau temporare. Pe scurt, site-urile noastre nu vor funcţiona corespunzător fără aceste cookie-uri.
        
        Cookie-uri pentru performanţă:
        Aceste cookie-uri colectează informaţii despre cum utilizează vizitatorii un site, de exemplu care sunt paginile cele mai vizitate. Aceste cookie-uri nu colectează informaţii care identifică vizitatori individuali. Toate informaţiile colectate de aceste cookie-uri sunt cumulate şi anonime.
        
        Folosim aceste cookie-uri pentru a:
        
        realiza statistici despre cum sunt utilizate site-urile noastre
        
        măsura impactul campaniilor noastre publicitare.
        
        Aceste cookie-uri pot fi permanente sau temporare, ale părţii-gazdă sau ale unor părţi terţe. Pe scurt, aceste cookie-uri colectează informaţii anonime despre paginile vizitate şi reclamele vizualizate.
        
        Cookie-uri pentru funcţionalitate:
        Aceste cookie-uri permit unui site să memoreze lucrurile alese de tine (cum ar fi numele de utilizator, limba sau ţara în care te afli) şi oferă opţiuni îmbunătăţite, mai personale. Aceste cookie-uri pot fi de asemenea utilizate pentru a furniza servicii pe care le-ai solicitat, cum ar fi vizionarea unui videoclip sau comentariul pe un blog. Informaţiile utilizate de aceste cookie-uri sunt anonimizate şi ele nu pot înregistra activităţile tale de navigare pe alte site-uri.
        
         
        
        Folosim aceste cookie-uri pentru a:
        
        memora dacă ai beneficiat deja de un anumit serviciu
        îmbunătăţi experienţa în general pe tot site-ul, memorând preferinţele tale.
         
        
        Cookie-uri pentru publicitate:
        Aceste cookie-uri sunt utilizate pentru a limita de câte ori vezi o reclamă, precum şi pentru a măsura impactul campaniilor publicitare.
        
        Cookie-urile pentru publicitate sunt folosite pentru a gestiona publicitatea pe tot site-ul.
        
        Cookie-urile pentru publicitate sunt plasate de terţe părţi, cum ar fi companiile de publicitate şi agenţii lor, şi pot fi cookie-uri permanente sau temporare. Pe scurt, ele sunt legate de serviciile de publicitate furnizate pe site-ul nostru de terţe părţi.
        
         
        
        Cookie-uri pentru sociale:
        – aceste cookies sunt folosite de retelele de socializare (Facebook, Twitter, Google+, YouTube, Instagram, Pinterest, etc) si permit distribuirea continutului de pe localhost:8080 pe respectivele retele. Magazin mobila.ro nu controleaza aceste cookies, deci, pentru mai multe informatii despre cum functioneaza, te rugam sa verifici paginile retelelor de socializare.
        
        Cum să administrezi & ştergi cookie-uri
        
        Dacă vrei să impui restricţii, să blochezi sau să ştergi fişiere cookie, poţi s-o faci modificând setările navigatorului tău de web. Utilizarea localhost:8080 fără respingerea cookie-urilor sau a tehnologiilor similare denotă consimţământul vizitatorilor pentru utilizarea de către noi a unor astfel de tehnologii şi pentru prelucrarea informaţiilor.
                
       </div>
       <div>
        <h2>
            9.Facturare și plăți
        </h2>
            Prețul, modalitatea de plată și termenul de plată sunt specificate în Comandă. Vânzătorul va emite către Cumpărător o factură pentru Bunurile livrate, obligația Cumpărătorului fiind să furnizeze toate informațiile necesare emiterii facturii conform cu legislația în vigoare.

            Pentru o corectă comunicare a facturii aferente Comenzii, Cumpărătorului îi revin obligațiile de a-și actualiza ori de câte ori este cazul datele din Contul său și de a accesa informațiile și documentele aferente fiecărei Comenzi existente în Cont.
            
            Prin trimiterea Comenzii, Cumpărătorul își exprimă acordul să primească facturile și în format electronic prin intermediul poștei electronice, la adresa de e-mail menționată în Contul său.
       </div>
       <div>
        <h2>
            10.Responsabilități
        </h2>
            Vânzătorulse obligă să expedieze Bunurile și Serviciile în sistem de curierat door-to-door către Cumpărător.
            Vânzătorulse eliberează de riscurile și responsabilitățile asociate cu Bunurile și Serviciile în momentul predării acestora către societatea de curierat intern cu care Vânzătorul colaborează sau către reprezentantul Cumpărătorului.
            Vânzătorulva asigura ambalarea corespunzătoare a Bunurilor și Serviciilor și va asigura transmiterea documentelor însoțitoare.
            Vânzătorulnu poate fi responsabil pentru daune de orice fel pe care Cumpărătorul sau oricare terță parte o poate suferi ca rezultat al îndeplinirii de către Vânzător a oricărei din obligațiile sale conform Comenzii și pentru daune care rezultă din utilizarea Bunurilor după livrare și în special pentru pierderea produselor. Vânzătorul va fi răspunzător în cazul în care sub-contractanții și/sau partenerii săi de orice fel implicați în executarea Comenzii nu îndeplinesc oricare din obligațiile contractuale.
            Vânzătorulnu își asumă responsabilitatea pentru descrierile produselor prezentate pe site. Imaginile sunt prezentate pe site cu titlu de exemplu, iar produsele livrate pot diferi de imaginile și descrierile expuse pe site în orice mod, datorită modificării caracteristicilor și design-ului fără notificare prealabilă. Vânzătorul își rezervă dreptul să completeze și să modifice orice informație de pe site fără notificare prealabilă.
            Vânzătorulnu garantează disponibilitatea în stoc a produselor afișate, motiv pentru care va avea dreptul de a nu livra parțial sau integral o anumită comandă în cazul în care anumite produse nu mai apar în oferta curentă sau nu sunt disponibile.
            În cazul în care prețurile sau alte detalii referitoare la produse au fost afișate greșit, inclusiv din cauza faptului că au fost introduse greșit în baza de date, Vânzătorulîși alocă dreptul de a anula livrarea respectivului produs și de a anunța clientul în cel mai scurt timp despre eroarea aparută, dacă livrarea nu s-a efectuat încă.
            Vânzătorulnu răspunde pentru prejudiciile create ca urmare a nefuncționării site-ului precum și pentru cele rezultând din imposibilitatea accesării anumitor link-uri publicate pe site.
            Valoareamaximă a obligațiilor Vânzătorului față de orice client în cazul nelivrării sau livrării necorespunzătoare este valoarea sumelor încasate de Vânzător de la clientul respectiv.
            Produsele comercializate pe site sunt destinate utilizării personale, iar revânzarea acestora este strict interzisă, conform Codului Fiscal.
       </div>
       <div>
        <h2>
            11.Livrarea produselor
        </h2>
            Livrarea nu este gratuită și se face prin curier rapid așa cum este descrisă în secțiunea "Livrări".

            Produsele noastre sunt realizate câteodată pe bază de comandă, ceea ce face ca durata de producție și livrare să fie de până la 14 zile lucrătoare începând cu ziua procesării comenzii.
            
            Comenzile sunt procesate cât mai curând după plasarea comenzii, în intervalul Luni – Vineri 10:00-18:00. În cazul comenzilor plasate în afara orelor de program (Luni – Vineri 10:00-18:00) sau în weekend, acestea vor fi procesate în prima zi lucrătoare. De sărbători și în perioadele de reduceri, termenul de livrare se poate prelungi.
            
            Dacă pachetul nu poate fi livrat (destinatarul nu răspunde, adresa specificată de dumneavoastră este greșită etc), veți fi contactat telefonic de către curier. Dacă nu se poate lua contact cu destinatarul, coletele rămân la curierul zonal 7 zile, după care revin la Expeditor.
            
            Nu suntem răspunzători pentru expedieri întârziate, pierderea, distrugerea, deteriorarea, ne livrarea sau livrarea greșită a unei expedieri sau a unei părți din aceasta în cazul în care sunt generate de următoarele situații/circumstanțe independente de voința noastră, dar nelimitându-se la acestea:<br>
            
            – blocaje rutiere (căderi de copaci, stânci, coliziuni în lanț), surpări de teren în apropierea șoselei;<br>
            
            – căderi de poduri, astupări de tunele montane, deraierea trenurilor în apropierea șoselei, blocări naturale, greve neautorizate, revolte spontane regionale, condiții meteorologice nefavorabile bunei desfășurări a itinerariului propus;<br>
            
            – cauze naturale: seisme, cataclisme, furtuni devastatoare, tornade, incendii naturale, inundații, deversări de fluvii, părăsiri de albii etc;<br>
            
            – cauze umane: starea de război, starea de asediu, etatizarea forțată (trecerea în proprietatea statului), revoluții, revolte populare etc;<br>
            
            – nerespectarea comenzilor de către furnizori și terți.
       </div>
       <div>
        <h2>
            12.Acceptarea
        </h2>
            Acceptarea va fi facută atunci când Bunurile sunt conforme cu caracteristicile tehnice menționate în Comandă. În cazul în care Cumpărătorul descoperă că Produsele livrate nu sunt conforme specificațiilor tehnice, atunci Vânzătorul va aduce la conformitate Produsele. De asemenea, pentru produsele vândute și livrate de Magazin mobila, Cumpărătorul beneficiază de returul produselor în 14 zile.
       </div>
       <div>
        <h2>
            13.Transferul proprietății
        </h2>
            Proprietatea asupra Bunurilor va fi transferată la livrare, după efectuarea plății din partea Cumpărătorului în locația indicată în comandă (întelegând prin livrare – semnarea de primire a documentului de transport furnizat de curier sau semnarea de primire pe factura fiscală în cazul livrărilor efectuate de personalul Vânzătorului). În cazul livrării prin curier, acesta nu este autorizat de către Vânzător să permită Cumpărătorului deschiderea coletelor înainte de semnarea de livrare, ci doar ulterior semnării de livrare și achitării eventualei contravalori a acestora.
       </div>
       <div>
        <h2>
            14.Returnarea produselor
        </h2>
            Cumpărătorul poate solicita returnarea produselor în următoarele situații:

            Coletele prezintă deteriorări severe;

            Produsele au fost livrate / facturate greșit. Livrarea altor produse decât cele solicitate trebuie semnalată imediat. Cumpărătorul poate solicita returnarea acestuia pentru înlocuire, iar dacă produsul nu mai este pe stoc, poate opta pentru înlocuire sau rambursarea integrală a contravalorii. Daca se agreează înlocuirea cu un produs de o valoare mai mare, va plăti diferența, respectiv dacă valoarea este mai mică, va primi o rambursare parțială până la valoarea produsului înlocuitor. Costurile de retur și de transport pentru produsul înlocuitor, dacă este cazul, sunt suportate de client.

            Produsele prezintă defecte de fabricație;

            Cumpărătorul are dreptul să notifice în scris Vânzătorului că renunța la cumpărare, fără penalități şi fără invocarea unui motiv, în termen de 14 zile de la primirea produsului. De asemenea, în conformitate cu art. 7 alin. 1 din O.G. 130/2000, Cumpărătorul are dreptul de a denunța unilateral contractul la distanță, în scris, în termen de 14 zile de la data primirii produsului/produselor, fără penalități și fără invocarea vreunui motiv. În acest caz, cheltuielile directe de returnare a produselor vor cădea, conform legii, în sarcina Cumpărătorului.

            Produsele trebuie să fie returnate în ambalajul original, cu factura atașată, să nu prezinte urme de uzură fizică sau deteriorare.

            Produsele personalizate nu pot fi returnate. Vă rugăm să aveți în vedere că aceste produse sunt create după configurațiile specificate de dumneavoastră, deci nu pot fi schimbate sau returnate.

            Dacă se agreează înlocuirea cu un produs de o valoare mai mare, Cumpărătorul va plăti diferența, respectiv dacă valoarea este mai mică, va primi o rambursare parțială până la valoarea produsului înlocuitor. Costurile de retur și de transport pentru produsul înlocuitor, dacă este cazul, sunt suportate de Cumpărător. În cazul în care produsele a căror returnare se solicită prezintă ambalaje deteriorate sau incomplete, urme de uzură, zgârieturi, lovituri, ne rezervăm dreptul de a decide acceptarea returului sau de a opri o sumă, suma ce va fi comunicată după evaluarea prejudiciilor aduse.

            În cazul exercitării dreptului legal de returnare a produsului, rambursarea contravalorii acestuia se va face prin virament bancar în contul indicat de Cumpărător în cel mult 14 de zile de la primirea produsului returnat.
       </div>
       <div>
        <h2>
            15.Prelucrarea datelor cu caracter personal
        </h2>
            Pentru a asigura respectarea dreptului utilizatorilor site-ului la protecția datelor cu caracter personal, am implementat măsuri specifice de protecție, luând în considerare legislația română, precum și cerințele stabilite de Regulamentul (UE) 2017/679 –  aplicabil în întreaga Uniune Europeană începând cu data de 25 mai 2018 („Regulamentul”).

            Datele cu caracter personal reprezintă orice informație prin care dvs. puteți fi identificat, în special printr-un element de identificare cum ar fi un nume, un număr de identificare, date de localizare, un identificator online sau unul sau mai multe elemente aflate în legătură cu identitatea dvs. fizică, fiziologică, genetică, psihică, economică, culturală sau socială.

            Societatea noastră ia toate măsurile necesare pentru a asigura respectarea dreptului dvs. la protecția datelor cu caracter personal, iar prezentele condiţii reprezintă notificareastabilită de art. 13 sau 14 din Regulament prin care  explicăm de ce colectăm datele dvs. cu caracter personal, modul în care protejăm aceste date, precum și care sunt drepturile dvs. în legătură cu această colectare de date.

            Vă încurajăm să citiți cu atenție documentul și să ne solicitați orice informație suplimentară sau orice lămurire pe care o considerați necesară, cu privire la conținutul acestei informări.
       </div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>