body{
    --culoareFundal:#F09C22;
    --culoareFundal2:#B08545;
    --culoareComplementF:#2297F0;
    --culoareAccente1:#49789B;
    --culoareAccente2:#706048;
    --culoare-text:black;
    --culoare-text-selectat:white;
}

nav{
    --inaltime-meniu:2.5em;
    --latime-buton:150px;
    height: var(--inaltime-meniu);
    background-color: #49789B;

}

#hamburger, #ch-menu{
    display:none;
}

#acasa-mediu{
    display: none;
}
.meniu{
   display: flex;
}
.meniu, .meniu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.meniu li{
    
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    text-align: center;
    box-sizing: border-box;
   
}

.meniu li div, .meniu li a{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: var(--inaltime-meniu);
    color: var(--culoareFundal);
    text-decoration: none;
    box-sizing: border-box;
    transition: all 1s linear;
    
    
}
.meniu li:hover>div, .meniu li:hover>a
{
    background-color: var(--culoareFundal2);
    color: var(--culoareComplementF);
    text-shadow:2px 2px 2px var(--culoareAccente1);
}
/*aparitie submeniu*/
.meniu li:hover>ul{
    background-color: var(--culoareAccente2);
    display: block;
    position: absolute;
    z-index: 100;
    animation: animatie_submeniu 1s linear 1 forwards;
    transform-origin: top left;
    
}
/*submeniu*/
.meniu ul{
    display:none;
    opacity: 0;
    transform: scaleY(0) scaleX(0);
}

@keyframes animatie_submeniu{
 
    100%{
        opacity: 1;
       
        transform:scaleY(1) scaleX(1);
        
    }
}
.meniu>li{
    position: relative;
}
.meniu>li:hover>div::before, .meniu>li:hover>a::before
{
    content: '';
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin:center;
    width: 0;
    height: 0;
    background-color: rgba(201, 187, 187, 0.25);
    animation: grow 0.5s linear 1 forwards;
  }

  @keyframes grow {
    0% {
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
        top: 0%;
        left: 0%;
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }