<footer class="outset">
    <section id="maps">
        <figure>
            <figcaption>Locatie unde ne poti gasi sediul</figcaption>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38360.473995899345!2d26.11975478665598!3d44.38885180341282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1fe60f7449097%3A0xe4046c28213d373c!2zUGFyY3VsIE5hdHVyYWwgVsSDY8SDcmXImXRp!5e0!3m2!1sro!2sro!4v1709638118235!5m2!1sro!2sro" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </figure>
    </section>
    <p><a href="mailto:mobila@gmail.ro">Mail Mobila<i class="fa-solid fa-square-envelope"></i></a></p>
    <p><a href="tel:0770494167">Telefon<i class="fa-solid fa-phone fa-shake"></i></a></p>
    <p><a href="https://wa.me/0770494167">WhatsApp<i class="fa-brands fa-whatsapp fa-spin"></i></a></p>
    <p><small>Copyright &copy;<time datetime="2024-10-18">18  martie 2024</time> Ionel Popescu</small></p>
    <a href="#" title="mergi sus" id="link-top"><div id="triunghi"></div></a><!--link-top exemplelayout-->
    <p id="watermark">Colt<br>Sebastian</p>
    <p id="absolut">Acesta este un proiect școlar!</p>
</footer>