<header class="inset">
            <script src="/resurse/js/tema.js"></script>
            <script src="/resurse/js/cookies.js"></script>
            <h1><b><div id="titlu">
                Magazin mobila
                <div id="titluU">
                    Magazin mobila
                </div>
            </div></b></h1>
            
            <img src="../resurse/imagini/favicon/couch-2027234_1280.png" alt="sigla" width="160" height="100">
            <!--<button id="schimba_tema"  class="btn btn-primary btn-lg">Schimba tema <i class="bi bi-filter"></i><i class="fa-solid fa-moon "></i></button>-->
           
        
           <!--<div class="form-check form-switch">
                <input id="schimba_tema" class="form-check-input" type="checkbox" id="temaSwitch">
                <label class="form-check-label" for="temaSwitch">
                  <i class="fa-solid fa-sun tema-soare d-none"></i>
                  <i class="fa-solid fa-moon tema-luna"></i>
                </label>
            </div>-->
             <div>
                <label> <span class="bi bi-sun-fill" class="tema-soare d-none"></span></label>  
                <div class="form-check form-switch form-check-inline">
                    <input id="schimba_tema"  class="btn btn-primary btn-toggle form-check-input form-switch" type="checkbox">
                    <label><span class="fas fa-moon" class="tema-luna"></span></label>
                </div>
            </div>
            <nav>
                <label id="hamburger" for="ch-menu">
                    <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
                </label>
                <input id="ch-menu" type="checkbox">
                <ul class="meniu">            
                    <li> <div id="acasa">Acasa</div><div id="acasa-mediu"><span class="fas fa-regular fa-house"></span></div>
                        <ul>                      
                            <li><a href="/index#welcome">Welcome</a></li>
                            <li><a href="/index#promotii">Promotii</a></li>
                            <li><a href="/index#anunturi">Anunturi</a></li>
                            <li><a href="/index#orar">Orar</a></li>  
                            <li><a href="/index#evenimente">Evenimente</a></li> 
                            <li><a href="/index#utilizatori">Utilizatori</a></li> 
                            <li><a href="/index#date">Date</a></li> 
                            <li><a href="/index#parteneri">Parteneri</a></li>   
                        </ul>                 
                    
                  
                    <li><div>Produse</div>
                        <ul>
                            <li><a href="/mobila">Toate</a></li>
                            <li><a href="/mobila/?tip=sufragerie">Sufragerie</a></li>
                            <li><a href="/mobila/?tip=dormitor">Dormitor</a></li>
                            <li><a href="/mobila/?tip=living">Living</a></li>
                            <li><a href="/mobila/?tip=baie">Baie</a></li>
                            <li><a href="/mobila/?tip=bucatarie">Bucatarie</a></li>
                            <li><a href="/mobila/?tip=hol">Hol</a></li>
                            <li><a href="/mobila/?tip=exterior">Gradina</a></li>
                            <li><a href="/mobila/?tip=general">Generale</a></li>
                        </ul>
                    </li>
                    <li><a href="/inregistrare">Inregistrare</a></li>
                    <li><a href="#">Contacte</a></li>
                    <%- include("../fragmente/submeniu-utilizator-logat.ejs"
                )%>
                   <%- include("../fragmente/submeniu-administrare.ejs"
                   )%>
                </ul> 
            </nav>
        </header>