<section>
    <p><b>Useri online:</b></p>
    <ol>
        <% for(let u of locals.useriOnline) { %>
            <li style="color: red"><%- u.prenume %> <%- u.nume %> - <%- u.username %></li>
        <% } %>
    </ol>
</section>